* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  margin: 0;
  height: 100vh;
  
}

.app_decomposition {
  max-width: 90%;
  max-height: 100vh;
  margin: auto;
}

.header_main {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  background-color: chocolate;
}

.header_main button {
  padding: 10px 20px;
  box-shadow: 10px 10px 10px 2px  rgb(153, 78, 25);
  cursor: pointer;
}